a,h1,h2,h3,h4,p,table,td,th,span,li,ul,ol{ 
	font-family: proxima-nova, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none!important;
}

/*Keep iphone telephone numbers from turning blue*/
*[x-apple-data-detectors], .x-gmail-data-detectors, .x-gmail-data-detectors *, .aBn {
	color: inherit!important;
	text-decoration: none!important;
	font-size: inherit!important;
	font-family: proxima-nova, Arial, sans-serif;
	font-weight: inherit!important;
	line-height: inherit!important;
}
.ExternalClass * { line-height: 100% }
.ExternalClass{ width:100% }

:root {
	color-scheme: light dark;
	supported-color-schemes: light dark;
}

.white{ color: #fff !important }
[data-ogsc] .white{ color: #fff !important }

@media (prefers-color-scheme: dark) {
	/* Shows Dark Mode-Only Content, Like Images */
	.dark-img-wrapper, .dark-img {
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		float: none !important;
		max-height: inherit !important;
		max-width: inherit !important;
		line-height: auto !important;
		margin-top: 0px !important;
		visibility: inherit !important;
	}
	[data-ogsc] .dark-img-wrapper { 
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		float: none !important;
		max-height: inherit !important;
		max-width: inherit !important;
		line-height: auto !important;
		margin-top: 0px !important;
		visibility: inherit !important;
	}
	/* Hides Light Mode-Only Content, Like Images */
	.light-img {
		display: none;
		display: none !important; 
	}
	[data-ogsc] .light-img { 
		display:none; 
		display:none !important;
	}
	
	.darkmode, .white-bg { background-color: #272623 !important; }
	.yellow-bg { background-color: #c5aa03 !important; }
}
@media (max-width:600px) {
	.email-container{
		width: 100% !important;
		overflow: hidden !important;
		margin: 0 auto !important;
	}
	.body-wrapper{
		width: 100% !important;
		max-width: 475px !important;
	}
	.body-wrapper, .body-wrapper-wide, .body-container{
		padding-left: 5% !important;
		padding-right: 5% !important;
	}
	th.two-column{
		display: block !important;
		width: 100% !important;
	}
	.column-wrapper{
		width: 100% !important;
	}
	.tile-wrapper, .mod-tile-txt-wrapper{
		width: 100% !important;
		max-width: 400px !important;
	}
	td.tile-wrapper{
		text-align: center!important;
	}
	.tile-img{
		display:block !important;
		width: 100% !important;
		max-width: 490px !important;
		height: auto!important;
		float: none!important;
		clear: both!important;
	}
		.mobile-pad{
		padding: 20px 0px !important;
	}
	.mobile-pad-bottom{
		padding-bottom: 20px !important;
	}
	.mod-stat-h1{
		text-align: center !important;
		padding: 20px !important;
	}
}